@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  color: rgb(97, 218, 251);
}
body{
  background-color: #282c34;
}
.App {
  text-align: center;
}
.Links{
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}
.Link{
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  border-bottom: 1px solid rgb(97, 218, 251);
}
.Link:last-child{
  border-bottom: none;
}
.Link button{
  width: 100%;
  color: black;
  padding: 20px 20px;
  /* height: 40px; */
  /* h100% */
  cursor: pointer;
}
.Link a{
  color: black;
  text-decoration: none;
  cursor:auto;
}
.Link img{
  width: 500px;
}
.Link h2{
  font-size: 18px;
  font-weight: normal;
}
.Link p{
  font-size: 14px;
  text-align: left;
  padding: 10px 0;
}
.desc{
  padding: 0 10px;
}