$nice__color: #CAF0F8;
// $nice__color: rgb(255, 164, 164);
$baza__color: rgb(97, 218, 251);
$nice2__color: rgb(87, 233, 87);
// $nice3__color: rgb(245, 145, 186);
$nice3__color: rgb(253, 167, 223);
// $link_color: #EAE2B7;
// $link_color: #FCF6BD;
$link_color: rgb(254, 202, 87);
$link2_color: rgba($link_color,0.7);